<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Propriedades</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container text-center mt-5">
    <h1>Lista de Propriedades</h1>
</div>

<div class="container mt-4">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Buscar propriedades..." aria-label="Buscar propriedades" aria-describedby="button-search">
        <button class="btn btn-primary" type="button" id="button-search">Buscar</button>
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <!-- Loop Thymeleaf para renderizar os cards -->
        <div class="col" th:each="propriedade : ${propriedades}">
            <div class="card h-100">
                <img th:src="${propriedade.imagemPropriedade}" class="card-img-top" th:alt="${propriedade.nome}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${propriedade.nome}">Título da Propriedade</h5>
                    <hr>
                    <p class="card-text" th:text="${propriedade.capitalNecessario}">Descrição breve da propriedade</p>
                    <p class="card-text" th:text="${propriedade.localizacao}">Descrição breve da propriedade</p>
                    <p class="card-text" th:text="${propriedade.descricao}">Descrição breve da propriedade</p>
                    <p class="card-text" th:text="${propriedade.proprietario.nome}">Descrição breve da propriedade</p>
                    <p class="card-text">Investimento de Risco ?</p><span class="badge text-bg-primary">Primary</span>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
